<a href="https://colab.research.google.com/github/DISHANTJOSHI1/dishant_data690/blob/main/assignment_04/inclass_session_04.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Classwork


*   Date: 02/21/2022
*   Name: Dishant Fapot

In [1]:
import random
import re
for i in range(0,10):
    print(end="\n ")
    for j in range(0,10):
        num=random.randint(0,9)
        if (num % 2) == 0:
            print(num, end=" ")
        else:
            strnum = str(num)
            strnum=strnum.replace(strnum,"@")
            print(strnum, end=" ")

 0 @ @ @ 6 2 @ @ 6 @
 @ @ 8 8 0 6 @ @ @ 8
 @ 8 @ 0 4 2 @ 0 0 8
 4 0 @ 0 @ 4 8 @ 4 8
 6 4 @ 2 @ @ @ 8 6 @
 4 0 8 @ @ 8 6 2 6 2
 @ @ @ 0 @ 4 @ @ 6 @
 0 @ @ @ @ @ 2 0 8 @
 0 6 8 8 8 @ @ @ @ 4
 6 0 0 @ @ 4 @ 0 @ 0

In [6]:
x = 'Hello world'

In [7]:
x.replace('Hello','Hi')

'Hi world'

In [17]:
# generate 100 numbers first
numbers= []
for i in range(100):
  numbers.append(random.randint(0,9))

print(numbers)
print(len(numbers))

[1, 2, 5, 2, 5, 6, 5, 2, 8, 6, 0, 2, 3, 9, 1, 0, 7, 3, 2, 3, 6, 6, 1, 6, 1, 1, 2, 8, 0, 5, 0, 9, 7, 3, 7, 1, 3, 5, 8, 1, 1, 2, 1, 7, 7, 0, 7, 7, 2, 1, 2, 1, 4, 9, 8, 8, 6, 4, 1, 0, 3, 4, 6, 5, 8, 4, 0, 8, 4, 2, 5, 9, 8, 1, 3, 5, 7, 6, 3, 7, 7, 4, 8, 7, 7, 5, 8, 8, 3, 2, 2, 8, 1, 2, 5, 3, 2, 1, 7, 3]
100

In [18]:
for i in range(0,100,1):
  print("index = ",i,"numbers = ",numbers[i])

index =  0 numbers =  1
index =  1 numbers =  2
index =  2 numbers =  5
index =  3 numbers =  2
index =  4 numbers =  5
index =  5 numbers =  6
index =  6 numbers =  5
index =  7 numbers =  2
index =  8 numbers =  8
index =  9 numbers =  6
index =  10 numbers =  0
index =  11 numbers =  2
index =  12 numbers =  3
index =  13 numbers =  9
index =  14 numbers =  1
index =  15 numbers =  0
index =  16 numbers =  7
index =  17 numbers =  3
index =  18 numbers =  2
index =  19 numbers =  3
index =  20 numbers =  6
index =  21 numbers =  6
index =  22 numbers =  1
index =  23 numbers =  6
index =  24 numbers =  1
index =  25 numbers =  1
index =  26 numbers =  2
index =  27 numbers =  8
index =  28 numbers =  0
index =  29 numbers =  5
index =  30 numbers =  0
index =  31 numbers =  9
index =  32 numbers =  7
index =  33 numbers =  3
index =  34 numbers =  7
index =  35 numbers =  1
index =  36 numbers =  3
index =  37 numbers =  5
index =  38 numbers =  8
index =  39 numbers =  1
index =  40 numbers =  1
index =  41 numbers =  2
index =  42 numbers =  1
index =  43 numbers =  7
index =  44 numbers =  7
index =  45 numbers =  0
index =  46 numbers =  7
index =  47 numbers =  7
index =  48 numbers =  2
index =  49 numbers =  1
index =  50 numbers =  2
index =  51 numbers =  1
index =  52 numbers =  4
index =  53 numbers =  9
index =  54 numbers =  8
index =  55 numbers =  8
index =  56 numbers =  6
index =  57 numbers =  4
index =  58 numbers =  1
index =  59 numbers =  0
index =  60 numbers =  3
index =  61 numbers =  4
index =  62 numbers =  6
index =  63 numbers =  5
index =  64 numbers =  8
index =  65 numbers =  4
index =  66 numbers =  0
index =  67 numbers =  8
index =  68 numbers =  4
index =  69 numbers =  2
index =  70 numbers =  5
index =  71 numbers =  9
index =  72 numbers =  8
index =  73 numbers =  1
index =  74 numbers =  3
index =  75 numbers =  5
index =  76 numbers =  7
index =  77 numbers =  6
index =  78 numbers =  3
index =  79 numbers =  7
index =  80 numbers =  7
index =  81 numbers =  4
index =  82 numbers =  8
index =  83 numbers =  7
index =  84 numbers =  7
index =  85 numbers =  5
index =  86 numbers =  8
index =  87 numbers =  8
index =  88 numbers =  3
index =  89 numbers =  2
index =  90 numbers =  2
index =  91 numbers =  8
index =  92 numbers =  1
index =  93 numbers =  2
index =  94 numbers =  5
index =  95 numbers =  3
index =  96 numbers =  2
index =  97 numbers =  1
index =  98 numbers =  7
index =  99 numbers =  3

In [12]:
#  generate 100 number first
numbers=[]     # This list is to hold 100 random numbers
for i in range(100):
    numbers.append(random.randint(0, 9))
print(numbers)
print(len(numbers))

[6, 8, 8, 0, 7, 8, 8, 5, 0, 1, 9, 4, 9, 2, 2, 8, 2, 9, 3, 6, 0, 8, 7, 4, 0, 3, 5, 3, 8, 3, 1, 5, 5, 4, 9, 4, 5, 8, 9, 4, 8, 1, 9, 9, 3, 2, 5, 6, 0, 5, 8, 6, 3, 9, 5, 7, 3, 9, 4, 0, 2, 7, 3, 8, 1, 5, 8, 3, 7, 8, 2, 6, 5, 4, 8, 1, 6, 2, 9, 1, 2, 9, 0, 4, 0, 4, 5, 6, 9, 8, 1, 4, 8, 5, 6, 5, 2, 0, 1, 9]
100

In [19]:
count= 0
for i in range(10):
  for j in range(10):
    print(numbers[count]," ", end =" ")
    count+=1
  print("\n")

1   2   5   2   5   6   5   2   8   6

0   2   3   9   1   0   7   3   2   3

6   6   1   6   1   1   2   8   0   5

0   9   7   3   7   1   3   5   8   1

1   2   1   7   7   0   7   7   2   1

2   1   4   9   8   8   6   4   1   0

3   4   6   5   8   4   0   8   4   2

5   9   8   1   3   5   7   6   3   7

7   4   8   7   7   5   8   8   3   2

2   8   1   2   5   3   2   1   7   3

In [20]:
# when to intialize a variable

sum = 0
for n in range(10):
  for i in range(10):
    y=random.randint(0,9)
    sum=sum+y
    print(y, end=" ")
  print("*",sum,end="\n")
  sum=0

3 9 1 5 5 2 9 8 3 3 * 48
9 2 9 6 7 8 7 2 0 5 * 55
4 7 3 3 3 4 9 7 9 7 * 56
3 8 4 5 4 3 5 7 9 2 * 50
1 9 9 5 3 5 0 7 0 1 * 40
3 0 9 0 9 2 9 1 5 7 * 45
5 6 1 4 3 8 2 8 9 4 * 50
2 0 3 1 5 9 9 1 5 1 * 36
4 8 5 6 6 5 0 2 8 7 * 51
5 4 7 4 4 0 0 7 7 9 * 47

In [21]:
# when to intialize a variable

for n in range(10):
  sum=0
  for i in range(10):
    y=random.randint(0,9)
    sum=sum+y
    print(y, end=" ")
  print("*",sum,end="\n")

1 2 5 4 0 0 7 3 9 6 * 37
5 2 9 2 0 5 5 8 8 2 * 46
2 6 6 1 4 6 7 2 1 0 * 35
0 2 2 4 6 0 2 8 1 4 * 29
5 1 8 9 3 9 7 4 8 5 * 59
9 4 2 9 3 0 2 5 8 8 * 50
6 2 2 9 8 2 9 1 1 0 * 40
8 4 6 7 7 6 5 4 1 7 * 55
3 6 6 4 0 4 0 2 2 2 * 29
1 0 2 5 8 9 3 2 0 8 * 38

In [15]:
x = [0,0,0,0,0,0]
x

[0, 0, 0, 0, 0, 0]

In [16]:
x = [0]*6
x

[0, 0, 0, 0, 0, 0]