<a href="https://colab.research.google.com/github/DISHANTJOSHI1/dishant_data690/blob/main/assignment_04/inclass_session_04_part_2.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# classwork Part 02


*   Date: 02/21/2022
*   Name: Dishant Fapot

In [1]:
import pandas as pd

In [2]:
url  = 'https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/main/assignment_04/census_costs.txt'

In [7]:
df = pd.read_table(url, skiprows = 1)
df.head()

  Census Year Total Population Census Cost Average Cost Per Person
0        1790        3,929,214     $44,377              1.13 cents
1        1800        5,308,483     $66,109              1.24 cents
2        1810        7,239,881    $178,445              2.46 cents
3        1820        9,633,822    $208,526              2.16 cents
4        1830       12,866,020    $378,545              2.94 cents

In [9]:
df.describe() # Descriptive stastical summary

       Census Year Total Population Census Cost Average Cost Per Person
count           23               23          23                      23
unique          23               23          23                      23
top           1790        3,929,214     $44,377              1.13 cents
freq             1                1           1                       1

In [12]:
df.dtypes

Census Year                object
Total Population           object
Census Cost                object
Average Cost Per Person    object
dtype: object

In [17]:
def my_yr(year):
  if '*' in year:
    year_ = year.replace('*',"")
  else:
    year_ = year

  return int(year_)

In [18]:
my_yr('2020*')

2020

In [19]:
df['cleaned_year'] = df['Census Year'].apply(my_yr)

In [21]:
df

   Census Year Total Population  ... Average Cost Per Person cleaned_year
0         1790        3,929,214  ...              1.13 cents         1790
1         1800        5,308,483  ...              1.24 cents         1800
2         1810        7,239,881  ...              2.46 cents         1810
3         1820        9,633,822  ...              2.16 cents         1820
4         1830       12,866,020  ...              2.94 cents         1830
5         1840       17,069,458  ...              4.88 cents         1840
6         1850       23,191,876  ...              6.14 cents         1850
7         1860       31,443,321  ...              6.26 cents         1860
8         1870       38,558,371  ...              8.87 cents         1870
9         1880       50,155,783  ...             11.54 cents         1880
10        1890       62,979,766  ...             18.33 cents         1890
11        1900       76,303,387  ...             15.54 cents         1900
12        1910       91,972,266  ...             17.07 cents         1910
13        1920      105,710,620  ...             23.76 cents         1920
14        1930      122,775,046  ...             32.71 cents         1930
15        1940      131,669,275  ...             51.29 cents         1940
16        1950      151,325,798  ...             60.44 cents         1950
17        1960      179,323,175  ...             71.34 cents         1960
18        1970      203,302,031  ...                   $1.22         1970
19        1980      226,542,199  ...                   $4.76         1980
20        1990      248,718,301  ...                  $10.02         1990
21        2000      281,421,906  ...                  $15.99         2000
22       2010*      308,745,538  ...                  $42.11         2010

[23 rows x 5 columns]

In [22]:
def clean_pop(population):
  if ',' in population:
    pop_ = population.replace(',','')
  else:
    pop_ = population
  return int(pop_)

In [23]:
clean_pop('123,232,2')

1232322

In [25]:
df['cleaned_population'] = df['Total Population'].apply(clean_pop)

In [26]:
df

   Census Year Total Population  ... cleaned_year cleaned_population
0         1790        3,929,214  ...         1790            3929214
1         1800        5,308,483  ...         1800            5308483
2         1810        7,239,881  ...         1810            7239881
3         1820        9,633,822  ...         1820            9633822
4         1830       12,866,020  ...         1830           12866020
5         1840       17,069,458  ...         1840           17069458
6         1850       23,191,876  ...         1850           23191876
7         1860       31,443,321  ...         1860           31443321
8         1870       38,558,371  ...         1870           38558371
9         1880       50,155,783  ...         1880           50155783
10        1890       62,979,766  ...         1890           62979766
11        1900       76,303,387  ...         1900           76303387
12        1910       91,972,266  ...         1910           91972266
13        1920      105,710,620  ...         1920          105710620
14        1930      122,775,046  ...         1930          122775046
15        1940      131,669,275  ...         1940          131669275
16        1950      151,325,798  ...         1950          151325798
17        1960      179,323,175  ...         1960          179323175
18        1970      203,302,031  ...         1970          203302031
19        1980      226,542,199  ...         1980          226542199
20        1990      248,718,301  ...         1990          248718301
21        2000      281,421,906  ...         2000          281421906
22       2010*      308,745,538  ...         2010          308745538

[23 rows x 6 columns]