<a href="https://colab.research.google.com/github/DISHANTJOSHI1/dishant_Data690/blob/main/assignment_02/assignment02_practice.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Assignement 02

## In Class Practice

- Name: **Dishant Fapot**
- Date: **02/07/2022**

In [1]:
import pandas as pd

In [2]:
data_url = "https://raw.githubusercontent.com/DATA-690-SPRING-2022/WANG/775e8fdfd0fd87837e89c6e887f9b3afe8c9f95b/assignment_02/survey.csv"

In [10]:
df = pd.read_csv(data_url)
df.head()

                    Timestamp  ...             12. Other courses taking this semester
0   2022/01/25 5:14:48 PM EST  ...   Introduction to Data Science | DATA 601;SENG 601
1   2022/01/25 5:37:24 PM EST  ...  Introduction to Data Science | DATA 601;Platfo...
2   2022/01/25 7:12:07 PM EST  ...  Intro to Data Analysis and Machine Learning | ...
3   2022/01/25 7:26:31 PM EST  ...  Introduction to Data Science | DATA 601;Ethica...
4  2022/01/26 11:15:22 AM EST  ...  Introduction to Data Science | DATA 601;Platfo...

[5 rows x 13 columns]

In [11]:
df.shape

(26, 13)

In [12]:
df.describe()

                        Timestamp  ...   12. Other courses taking this semester
count                          26  ...                                       26
unique                         26  ...                                       20
top     2022/01/25 5:14:48 PM EST  ...  Introduction to Data Science | DATA 601
freq                            1  ...                                        3

[4 rows x 13 columns]